/* ===== start of variable ===== */

/* ===== end of variable ===== */
/* ===== start of repetitive codes ===== */
/* === flex === */
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-y-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-x-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* === position === */
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-x-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.position-y-center {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

/* === style === */
.m-auto {
    margin: auto;
}

.unstyled-link {
    color: black;
    text-decoration: none;
}

.unstyled-links li a {
    color: rgb(72, 72, 72);
    text-decoration: none;
}

.unstyled-button {
    color: black;
    background-color: white;
    padding: 1rem 3rem;
    margin: 0rem;
    border: none;
    border-radius: 0.5rem;
}

/* ===== end of repetitive codes ===== */
/* ===== start of function ===== */

/* ===== end of function ===== */ 